name: CI

on:
  push:
    branches:
      - main
      - master
      - "feature*"
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      # Check out the repository code
      - name: Checkout code
        uses: actions/checkout@v4

      # Set up Python
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      # Install Poetry
      - name: Install Poetry
        run: |
          pip install poetry

      # Install dependencies using Poetry
      - name: Install dependencies
        run: |
          poetry install --no-interaction --no-ansi --with dev

      # Run vulture
      - name: Check dead code
        run: |
          poetry run vulture src --min-confidence 100
          poetry run vulture tests --min-confidence 100

      # Run tests
      - name: Run tests with coverage
        run: |
          poetry run pytest -q --cov=datatoolsdemo --cov-report=xml:coverage.xml

      # Upload to Coveralls
      - name: Upload coverage to Coveralls
        uses: coverallsapp/github-action@v2
        with:
          format: cobertura
          file: coverage.xml
